<mat-form-field>
    <span>
        <mat-label>Search</mat-label>
        <input class="filter-input" matInput (keyup)="applyFilter($event)" placeholder="Ex. harit">
    </span>
    
</mat-form-field>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

<!-- Position Column -->
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> #ID </th>
    <td mat-cell *matCellDef="let emp" (click)="populateForm(emp)"> {{emp.id}} </td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
    <th (click)="addSorting()"  mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let emp"  (click)="populateForm(emp)"> {{emp.name}} </td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="salary">
    <th (click)="addSorting()" mat-header-cell mat-sort-header *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let emp" (click)="populateForm(emp)"> {{emp.salary}} </td>
</ng-container>


<!-- Symbol Column -->
<ng-container matColumnDef="manager_id">
    <th (click)="addSorting()" mat-header-cell mat-sort-header *matHeaderCellDef> Manager ID </th>
    <td mat-cell *matCellDef="let emp" (click)="populateForm(emp)"> {{emp.manager_id}} </td>
</ng-container>
<ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let emp"><button (click)="onDelete(emp.id)" class="btn btn-sm btn-danger">X</button> </td>
</ng-container>


<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
